@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.light *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/*body {
    &:not(*:is(.light *)) {
        background-color: var(--color-zinc-800)
    }
}*/

.icon {
    border-radius: 100%;
    padding: 3px;
    /*height: 100px;
    width: 100px;*/
    margin: auto;
    transition: 200ms all;
}

.icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon Image {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.bug {
    background: #92bc2c;
    box-shadow: 0 0 15px #92bc2c;
}

:root {
    height: 100vh;
    .dark {
        background-color: white;
    }
    &:not(.dark) {
        background-color: var(--color-white);
    }
}

img.dark {
    background: #595761;
    box-shadow: 0 0 15px #595761;
}

.dragon {
    background: #0c69c8;
    box-shadow: 0 0 15px #0c69c8;
}

.electric {
    background: #f2d94e;
    box-shadow: 0 0 15px #f2d94e;
}

.fire {
    background: #fba54c;
    box-shadow: 0 0 15px #fba54c;
}

.fairy {
    background: #ee90e6;
    box-shadow: 0 0 15px #ee90e6;
}

.fighting {
    background: #d3425f;
    box-shadow: 0 0 15px #d3425f;
}

.flying {
    background: #a1bbec;
    box-shadow: 0 0 15px #a1bbec;
}

.ghost {
    background: #5f6dbc;
    box-shadow: 0 0 15px #5f6dbc;
}

.grass {
    background: #5fbd58;
    box-shadow: 0 0 15px #5fbd58;
}

.ground {
    background: #da7c4d;
    box-shadow: 0 0 15px #da7c4d;
}

.ice {
    background: #75d0c1;
    box-shadow: 0 0 15px #75d0c1;
}

.normal {
    background: #a0a29f;
    box-shadow: 0 0 15px #a0a29f;
}

.poison {
    background: #b763cf;
    box-shadow: 0 0 15px #b763cf;
}

.psychic {
    background: #fa8581;
    box-shadow: 0 0 15px #fa8581;
}

.rock {
    background: #c9bb8a;
    box-shadow: 0 0 15px #c9bb8a;
}

.steel {
    background: #5695a3;
    box-shadow: 0 0 15px #5695a3;
}

.water {
    background: #539ddf;
    box-shadow: 0 0 15px #539ddf;
}
